

.table-register{
  margin: 25px 45px;
  width: auto;
  height: 600px;
  overflow-y: scroll;
}

.contain-Form{
  display: flex;
  flex-direction: column;
  height: 786px;
  width: 100%;
  padding: 100px 0 0 50px;
}

form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.container-form-input{
  display: flex;
  justify-content: space-between;                                                     
  align-items: center;
  gap: 15px;
}

.container-form-input input{
  width: 300px;
  border: 1px solid rgba(0 , 0, 0, 0.3);
  border-radius: 5px;
}

.container-form-input select{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0 , 0, 0, 0.3);
  border-radius: 5px;
}

.container-form-input textarea{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0 , 0, 0, 0.3);
  border-radius: 5px;
}

.container-form-input label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contac{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.form-contac-appoiment{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.form-contac-appoiment-hidden{
  display: none;
  transition: 4s ease-in;
}

.efectiva{
  display: none;
}

.nefectiva{
  display: none;
}

.nlocalizable{
  display: none;
}

.form-contac-detail{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

form button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: #212529;
  color: white;
  font-weight: 600;
  transition: 0.5s ease-out  ;
}

form button:hover{
  font-size: 20px;
  color: #71dfbe;
}

form button:hover .btn-text-hidden{
  display: none;
}

form button:hover .btn-i-hidden{
  display: flex;
}

.btn-i-hidden{
  display: none;
}

.container-home{
  padding: 50px 50px;
  height: 786px;
  background: rgba(0 , 0, 0, 0.06);
}

.container-home h1{
  width: 500px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18) ;
}

.container-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 15px 0;
  gap: 35px;
}

.register-cant{
  width: 230px;
  border-radius: 10px;
  background: white;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register-cant h2{
  font-size: 35px;
}

.register-cant p{
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}


.register-cant-efectiva p{
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.container-DboardDetails{
  width: 100%;
  height: 100vh;
  background: rgba(0 , 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0;
  backdrop-filter: blur(2px);
  visibility: hidden;
  transition: .3s ease all;
  opacity: 0%;
}

.DboardDetails{
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  background: white;
  border-radius: 15px;
}

.DboardDetails h2{
  margin: 0 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18) ;
  width: 300px;
}

.container-cancel{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  font-size: 25px;
}

.container-cancel i {
  cursor: pointer;
}

.grid-details{
  padding: 15px 25px;
  height: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px
}

.DboardDetails-items{
  width: 320px;
  height: 100px;
  background: rgba(0 , 0, 0, 0.08);
  border-radius: 5px;
  padding: 5px  10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.DboardDetails-items p{
  font-weight: 600;
  font-size: 20px;
}